[package]
name = "blue-build-template"
version.workspace = true
edition.workspace = true
description.workspace = true
repository.workspace = true
license.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rinja = "0.3.0"
blue-build-recipe = { version = "=0.8.17", path = "../recipe" }
blue-build-utils = { version = "=0.8.17", path = "../utils" }

log.workspace = true
colored.workspace = true
typed-builder.workspace = true
uuid.workspace = true

[lints]
workspace = true

