[package]
name = "blue-build"
version = "0.7.0"
edition = "2021"
description = "A CLI tool built for creating Containerfile templates based on the Ublue Community Project"
repository = "https://github.com/blue-build/cli"
license = "Apache-2.0"
categories = ["command-line-utilities"]
build = "build.rs"

[dependencies]
anyhow = "1"
askama = { version = "0.12", features = ["serde-json", "serde-yaml"] }
chrono = "0.4"
clap = { version = "4", features = ["derive", "cargo", "unicode"] }
clap-verbosity-flag = "2"
clap_complete = "4"
clap_complete_nushell = "4"
colorized = "1"
derive_builder = "0.13"
directories = "5"
env_logger = "0.11"
format_serde_error = "0.3.0"
futures-util = { version = "0.3", optional = true }
fuzzy-matcher = "0.3"
indexmap = { version = "2", features = ["serde"] }
log = "0.4"
open = "5"
# update os module config and tests when upgrading os_info
os_info = "3.7"
podman-api = { version = "0.10.0", optional = true }
process_control = { version = "4.0.3", features = ["crossbeam-channel"] }
requestty = { version = "0.5", features = ["macros", "termion"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.9.30"
shadow-rs = { version = "0.26" }
sigstore = { version = "0.8.0", optional = true }
tokio = { version = "1", features = ["full"], optional = true }
typed-builder = "0.18.1"
urlencoding = "2.1.3"
users = "0.11.0"
which = "6"

[features]
default = []
init = []
nightly = ["podman-api"]
tls = ["podman-api/tls", "podman-api"]
podman-api = ["dep:podman-api", "tokio", "futures-util"]

[dev-dependencies]
rusty-hook = "0.11.2"

[build-dependencies]
shadow-rs = { version = "0.26.1", default-features = false }
dunce = "1.0.4"

[profile.release]
lto = true
codegen-units = 1
strip = true
debug = false
