[package]
name = "blue-build"
version = "0.5.2"
edition = "2021"
description = "A CLI tool built for creating Containerfile templates based on the Ublue Community Project"
repository = "https://github.com/blue-build/cli"
license = "Apache-2.0"
categories = ["command-line-utilities"]

[dependencies]
anyhow = "1"
askama = { version = "0.12.1", features = ["serde-json"] }
cfg-if = "1.0.0"
chrono = "0.4"
clap = { version = "4", features = ["derive"] }
clap-verbosity-flag = "2.1.1"
derive_builder = "0.12.0"
env_logger = "0.10.1"
futures-util = { version = "0.3.30", optional = true }
indexmap = { version = "2.1.0", features = ["serde"] }
log = "0.4"
podman-api = { version = "0.10.0", optional = true }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.9.25"
sigstore = { version = "0.8.0", optional = true }
tokio = { version = "1", features = ["full"], optional = true }
typed-builder = "0.18.0"
users = "0.11.0"

[features]
default = []
nightly = ["builtin-podman"]
builtin-podman = ["podman-api", "tokio", "futures-util"]
tls = ["podman-api/tls", "builtin-podman"]
init = []

[dev-dependencies]
rusty-hook = "0.11.2"
