[workspace]
members = ["utils", "recipe", "template", "process"]

[workspace.package]
description = "A CLI tool built for creating Containerfile templates for ostree based atomic distros"
edition = "2021"
repository = "https://github.com/blue-build/cli"
license = "Apache-2.0"
categories = ["command-line-utilities"]
version = "0.8.11"

[workspace.dependencies]
chrono = "0.4"
clap = "4"
colored = "2"
indexmap = { version = "2", features = ["serde"] }
indicatif = { version = "0.17", features = ["improved_unicode"] }
log = "0.4"
miette = "7"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.9"
tempdir = "0.3"
typed-builder = "0.18"
uuid = { version = "1", features = ["v4"] }

[workspace.lints.rust]
unsafe_code = "forbid"

[workspace.lints.clippy]
correctness = "warn"
suspicious = "warn"
perf = "warn"
style = "warn"
nursery = "warn"
pedantic = "warn"
module_name_repetitions = "allow"

[package]
name = "blue-build"
build = "build.rs"

version.workspace = true
edition.workspace = true
description.workspace = true
repository.workspace = true
license.workspace = true

[package.metadata.release]
pre-release-hook = ["git", "cliff", "-o", "CHANGELOG.md", "--tag", "{{version}}"]
pre-release-replacements = [
  { file = "install.sh", search = "VERSION=v\\d+\\.\\d+\\.\\d+", replace = "VERSION=v{{version}}" }
]

[dependencies]
blue-build-recipe = { version = "=0.8.11", path = "./recipe" }
blue-build-template = { version = "=0.8.11", path = "./template" }
blue-build-utils = { version = "=0.8.11", path = "./utils" }
blue-build-process-management = { version = "=0.8.11", path = "./process" }
clap-verbosity-flag = "2"
clap_complete = "4"
fuzzy-matcher = "0.3"
open = "5"
os_info = "3"
rayon = { version = "1.10.0", optional = true }
requestty = { version = "0.5", features = ["macros", "termion"] }
shadow-rs = "0.26"
urlencoding = "2"
users = "0.11"

clap = { workspace = true, features = ["derive", "cargo", "unicode", "env"] }
colored.workspace = true
indicatif.workspace = true
log.workspace = true
miette = { workspace = true, features = ["fancy"] }
serde.workspace = true
serde_json.workspace = true
serde_yaml.workspace = true
tempdir.workspace = true
typed-builder.workspace = true

[features]
default = []
stages = ["blue-build-recipe/stages"]
copy = ["blue-build-recipe/copy"]
multi-recipe = ["rayon", "indicatif/rayon"]
switch = []

[dev-dependencies]
rusty-hook = "0.11"

[build-dependencies]
shadow-rs = "0.26"

[lints]
workspace = true

[profile.release]
lto = true
codegen-units = 1
strip = true
debug = false
