{%- for info in self::get_akmods_info_list(recipe.modules_ext, os_version) %}
FROM scratch as stage-akmods-{{ info.stage_name }}
COPY --from=ghcr.io/ublue-os/{{ info.images.0 }} /rpms /rpms
  {%- if let Some(nv_image) = info.images.1 %}
COPY --from=ghcr.io/ublue-os/{{ nv_image }} /rpms /rpms
  {%- endif %}
{%- endfor %}
