[package]
name = "blue-build-utils"
version.workspace = true
edition.workspace = true
description.workspace = true
repository.workspace = true
license.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
atty = "0.2.14"
directories = "5"
process_control = { version = "4.0.3", features = ["crossbeam-channel"] }
rand = "0.8.5"
syntect = "5.2.0"
which = "6"

anyhow.workspace = true
chrono.workspace = true
colored.workspace = true
env_logger.workspace = true
format_serde_error.workspace = true
log.workspace = true
serde.workspace = true
serde_yaml.workspace = true
serde_json.workspace = true

[dependencies.clap]
workspace = true
features = ["derive"]

[build-dependencies]
syntect = "5.2.0"

[lints]
workspace = true

