name: cli/test
description: This is my personal OS image.
base-image: ghcr.io/ublue-os/silverblue-surface
image-version: 39
modules:
  - from-file: akmods.yml

  - type: files
    files:
      - usr: /usr

  - type: script
    scripts:
      - example.sh
      - disableuserns.sh

  - type: rpm-ostree
    repos:
      - https://copr.fedorainfracloud.org/coprs/atim/starship/repo/fedora-%OS_VERSION%/atim-starship-fedora-%OS_VERSION%.repo
    install:
      - micro
      - starship
    remove:
      - firefox
      - firefox-langpacks

  - type: default-flatpaks
    notify: true
    system:
      install:
        - org.mozilla.firefox
        - org.gnome.Loupe
        - one.ablaze.floorp//lightning
      remove:
        - org.gnome.eog

  # Needs a bug to be fixed to allow / in image name
  # - type: signing

  - type: test-module

