name: Earthly PR +build

on:
  pull_request:

env:
  FORCE_COLOR: 1

jobs:
  build:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - uses: earthly/actions-setup@v1
        with:
          version: v0.7.23

      - name: Earthly login
        run: |
          earthly account login --token ${{ secrets.EARTHLY_SAT_TOKEN }} >> /dev/null
          earthly org s blue-build
          earthly sat s blue-build-pr

      - uses: earthly/actions-setup@v1
        with:
          version: v0.8.2

      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.ref }}

      - name: Run build
        run: earthly --ci -P +build

